{% extends 'invest/base_logged.html' %}


{% load numberformat %}


{% block logged_content %}

<h1 class="border-bottom">{{ asset_name }}</h1>
<p>{{ description }}</p>

<form action="" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label" for="quantity-input">Quantidade</label>
        <input class="form-control" type="text" name="quantity" id="quantity-input" value="{{ form.quantity.value }}">
    </div>
    <div class="mb-3">
        <label class="form-label" for="price-input">Cotação</label>
        <div class="input-group">
            <span class="input-group-text">{{ content.asset.market.symbol }}</span>
            <input class="form-control" type="text" name="price" id="price-input" value="{{ form.price.value }}">
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="cost-input">Custo</label>
        <div class="input-group">
            <span class="input-group-text">{{ content.asset.market.symbol }}</span>
            <input class="form-control" type="text" name="cost" id="cost-input" value="{{ form.cost.value }}">
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="value-input">Valor</label>
        <div class="input-group">
            <span class="input-group-text">{{ content.asset.market.symbol }}</span>
            <input class="form-control" type="text" name="value" id="value-input" value="{{ form.value.value }}">
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Salvar">
    <a href="{% url 'invest:delete_content' content_id %}" class="btn btn-danger">Excluir</a>
    <a href="{% url 'invest:content_list' %}" class="btn btn-outline-secondary">Cancelar</a>
</form>

{% endblock %}
