{% extends 'invest/base_logged.html' %}


{% load numberformat %}


{% block logged_content %}

<h1 class="border-bottom">{{ asset_name }}</h1>
<p>{{ description }}</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <canvas id="value-chart" width="400" height="200"></canvas>
        </div>
        <div class="col-md-6">
            <p>Quantidade: {{ content.quantity }}</p>
            <p>Custo: {{ content.cost|currency:currency_symbol }}</p>
            <p>Valor: {{ content.value|currency:currency_symbol }}</p>
            <p>Custo médio: {{ content.cm|currency:currency_symbol }}</p>
            <p>Cotação: {{ content.price|currency:currency_symbol }}</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <canvas id="dividend-chart" width="400" height="200"></canvas>
        </div>
        <div class="col-md-6 table-responsive table-fix-head">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Data</th><th>Cotação</th><th>Dividendo</th><th>DY</th>
                    </tr>
                </thead>
                <tbody>
                    {% if dividend %}
                        {% for row in dividend %}
                            <tr>
                                <td>{{ row.date }}</td>
                                <td>-</td>
                                <td>{{ row.value|currency:currency_symbol }}</td>
                                <td>-</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    if ('{{ dividend_json }}') {
        const [x, y] = djangoQuerysetDeserializer(
            '{{ dividend_json|escapejs }}', 'date', 'value'
        )
        var datasets = [{data: y}]
        var ctx = document.getElementById('dividend-chart')
        var ylabel = '{{ currency_symbol|escapejs }}'
        plot(x, datasets, ctx, {ylabel: ylabel})
    }
</script>

{% endblock %}
