<div class="modal fade" id="new-content-modal" data-bs-keyboard="true" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Novo ativo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="button"  class="btn btn-secondary"  data-bs-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-primary" value="Salvar">
                </form>
            </div>

        </div>
    </div>
</div>
