{% load static %}

<div class="modal fade" id="new-content-modal" data-bs-keyboard="true" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Novo investimento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <select class="form-select" id="new_content_modal_group_select">
                            <option value="" disabled selected>Grupo</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" id="new_content_modal_asset_select" required>
                            <option value="" disabled selected>Ativo</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="new_content_modal_institution_input">Instituição</label>
                        <input class="form-control" type="text" name="institution" id="new_content_modal_institution_input" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="new_content_modal_quantity_input">Quantidade</label>
                        <input class="form-control" type="text" name="quantity" id="new_content_modal_quantity_input" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="new_content_modal_price_input">Cotação</label>
                        <input class="form-control" type="text" name="price" id="new_content_modal_price_input" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="new_content_modal_cost_input">Custo</label>
                        <input class="form-control" type="text" name="cost" id="new_content_modal_cost_input" required>
                    </div>
                
                    <input type="button"  class="btn btn-secondary"  data-bs-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-primary" value="Salvar">
                </form>
            </div>

        </div>
    </div>
</div>

<script src="{% static 'invest/js/api.js' %}"></script>

<!-- <script>
    function populateSelectElement(elemID, valueParam, textParam, response) {
        let select = document.getElementById(elemID)
        select.options[0].selected = true
        select.length = 1
        for (r in response) {
            var opt = document.createElement('option')
            opt.value = response[r][valueParam]
            opt.innerHTML = response[r][textParam]
            select.appendChild(opt)
        }
    }

    makeRequest('GET', baseApiURL+'get-asset-groups/', undefined, (response) => {
        populateSelectElement('new_content_modal_group_select', 'id', 'group', response)
    })

    document.getElementById("new_content_modal_group_select").addEventListener('change', () => {
        var groupID = document.getElementById("new_content_modal_group_select").value
        let url = baseApiURL + 'get-assets/?group=' + groupID
        makeRequest('GET', url, undefined, (response) => {
            populateSelectElement('new_content_modal_asset_select', 'id', 'name', response)
        })
    })
</script> -->
