{% extends 'base-restricted.html' %}


{% block restricted_content %}

<h1 class="border-bottom">Meus investimentos</h1>

<button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#new-asset-modal">+</button>

<!-- Assets list -->
<div>
    {% for asset in wallet %}
    <div class="card">
        <a class="stretched-link" href="" data-bs-toggle="modal" data-bs-target="#new-asset-modal"></a>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <p>{{ asset.get('name') }}</p>
                        <p>Quantidade: {{ asset.get('qnt') }}</p>
                    </div>
                    <div class="col-md-4">
                        <p>{{ asset.get('type') }}</p>
                        <p>Valor: R$ {{ asset.get('value') }}</p>
                    </div>
                    <div class="col-md-4">
                        <p>{{ asset.get('class') }} - {{ asset.get('market') }}</p>
                        <p>Vencimento: {{ asset.get('expiration').strftime('%d/%m/%Y') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Modal -->
<div class="modal fade" id="new-asset-modal" data-bs-keyboard="true" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Novo ativo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form action="" method="POST">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label>Local</label>
                        {{ form.market(class="form-select", id='market-filter', onchange='applyFilter()') }}
                    </div>
                    <div class="form-group">
                        <label>Tipo de investimento</label>
                        {{ form.asset_type(class="form-select", id='type-filter') }}
                    </div>
                    <div class="form-group">
                        <label>Grupo de investimento</label>
                        {{ form.asset_group(class="form-select", id='group-filter') }}
                    </div>
                    <div class="form-group">
                        <label>Ativos</label>
                        {{ form.asset(class="form-select", id='asset-select') }}
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>

        </div>
    </div>
</div>

<p id="print"></p>

<script type="text/javascript">
    function applyFilter(){
        var assets = {{ assets|tojson }}
        document.getElementById('print').innerText = assets
    }
</script>

{% endblock %}
