{% extends 'base-restricted.html' %}


{% block restricted_content %}

<h1 class="border-bottom">Ativos</h1>

<!-- Filters -->
<div class="container-fluid">
    <div class="row">
        <!-- Button add -->
        <div class="col-md-3">
            <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#modal-register-asset">
                +
            </button>
        </div>
        <!-- Market -->
        <div class="col-md-3">
            <div class="dropdown">
                <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Local
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                </ul>
            </div>
        </div>
        <!-- Type -->
        <div class="col-md-3">
            <div class="dropdown">
                <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Tipo
                </button>
            </div>
        </div>
        <!-- Group -->
        <div class="col-md-3">
            <div class="dropdown">
                <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Grupo
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-register-asset" data-bs-keyboard="true" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Novo ativo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form action="" method="POST">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label>Nome</label>
                        {{ form.name(class='form-control', placeholder='Nome') }}
                    </div>
                    <div class="form-group">
                        <label>Descrição</label>
                        {{ form.description(class='form-control', placeholder='Descrição') }}
                    </div>
                    <div class="form-group">
                        <label>Local</label>
                        {{ form.market(class='form-control', placeholder='Local') }}
                    </div>
                    <div class="form-group">
                        <label>Tipo de investimento</label>
                        {{ form.asset_type(class='form-control', placeholder='Tipo') }}
                    </div>
                    <div class="form-group">
                        <label>Grupo de ativos</label>
                        {{ form.asset_group(class='form-control', placeholder='Grupo') }}
                    </div>
                    <div class="form-group">
                        <label>Validade</label>
                        {{ form.expiration_date(class='form-control', id='myInput', placeholder='dd/mm/aaaa') }}
                    </div>
                    <div>
                        <label>{{ form.unexpirable(id='myCheck', onclick='checkboxAction()') }} Não expira</label>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/expiration_checkbox.js') }}"></script>

<!-- Assets list -->
<div>
    {% for asset in assets %}
    <div class="card">
        <a class="stretched-link" href="{{ url_for('admin.update_asset', id=asset.id) }}"></a>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <p>{{ asset.asset_name }}</p>
                        <p>{{ asset.description }}</p>
                    </div>
                    <div class="col-md-4">
                        <p>{{ asset.asset_type }} - {{ asset.market }}</p>
                        {% if asset.asset_type == 'Renda fixa' %}
                        <p>Vencimento: {{ asset.asset_expiration_date.strftime('%d/%m/%Y') }}</p>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <p>{{ asset.asset_group }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
